<component name="libraryTable">
  <library name="springframework.spring.web" type="repository">
    <properties maven-id="org.springframework:spring-web:5.3.19" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-web/5.3.19/spring-web-5.3.19.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/5.3.19/spring-beans-5.3.19.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/5.3.19/spring-core-5.3.19.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/5.3.19/spring-jcl-5.3.19.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>